#Navbarrr {
    padding-left: 30px;
    padding-right: 50px;
    /* background-color: #96BAFF; */
    margin-bottom: 20px;
}


.navbar {
    font-size: 1em;
    font-family: 'ABeeZee', sans-serif;
}

.navbar__brand {
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.navbar__link {
    margin-right: 25px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}